ul {
  list-style: none;
  text-decoration: none;
}

.navbar {
  display: flex;
  height: 10%;
  align-items: center;
  margin-left: 7.5%;
}

.navtext {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #888;
  margin-left: 1.5rem;
}

.navbar-logo {
  min-width: 200px;
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.navbar-element {
  font-weight: 400;
  color: #121212;
  padding-left: 25px;
  font-family: 'Montserrat', sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  min-height: 100px;
  background-color: #fff;
  margin-bottom: 3%;
}

.user {
  margin-right: 10%;
  color: #0290ff;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 1px solid #959595;
}
